# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.user

# PDFTron Lib Data
PDFTron/
PDFTron/*

Makefile
Makefile.*


.qmake.stash

*.db

build/
build/*
release/
release/*
debug/
debug/*

aaa_plugin_import.cpp